.header{
    background-color: #1e1d2f;
    height: auto;
}

.background{
    background-color: #181725;
}

h1{
    color: white;
}


.login-image{
    background-image: url("local-bandit-02.svg");
    background-repeat: no-repeat, repeat;
    height: 100vh;
    background-position: center;
}

.login-button{
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 1;
    position:fixed;
    height: auto;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
}

.login-button-element{
    margin-top: 35%;
}

.test-buttons{
    color: cornsilk;
}
